/* iPad in portrait and up */
@media only screen and (min-device-width: 768px) {

  .padding {
    display: block;
    overflow: auto;

    h3 {
      margin: 0 1%
    }

    .button-wrapper {
      display: block;
      overflow: auto;
      float: left;
      width: 31%;
      margin: 0 1%;
    }

    .button-block {
      height: 150px;
      font-size: 150%;
   }

   .roulette-btn {
     width: 97%;
     margin: 0 1%;
   }

  }
}
