.supersonic-navbar-mock {
  background-color: #d2ac2b !important;
  text-align: center;
  font-weight: 600;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.button-block {
  line-height: 1.2;
}
img {
  width: 100%;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.padding .card {
  margin-top: 0;
}
.padding .card .item-text-wrap p {
  font-size: 1.2em;
  line-height: 1.2em;
}
blockquote {
  margin: 20px 0 15px;
}
.btn-mss-blue {
  color: #002366;
  border: 1px solid rgba(0, 35, 102, 0.8);
  background-color: #f2f2f2;
}
.btn-mss-blue:hover {
  background-color: white;
  border: 1px solid rgba(0, 35, 102, 0.8);
  color: #002366;
}
.btn-mss-gold {
  background-color: rgba(210, 172, 43, 0.7);
  color: #002366;
  border: 1px solid rgba(0, 35, 102, 0.8);
}
.btn-mss-gold:hover {
  background-color: rgba(210, 172, 43, 0.7);
  color: #002366;
  border: 2px solid rgba(0, 35, 102, 0.8);
}
.spinner {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  border: 10px solid;
  border-color: #777 #999 #666 #999;
  border-radius: 3px;
  height: 163px;
  z-index: 999;
  overflow: hidden;
  background-color: #d2ac2b;
}
.spinner .spinner-item-wrap {
  width: 95%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.spinner .shadow {
  position: absolute;
  width: 100%;
  height: 54px;
  z-index: 100;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.spinner .winning-line {
  position: absolute;
  margin-top: 60px;
  width: 100%;
  height: 27px;
  background-color: transparent;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  z-index: 500;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.spinner .shadow.top-shadow {
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  background: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
}
.spinner .shadow.bottom-shadow {
  margin-top: 89px;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
}
.spinner .roulette-item {
  width: 100%;
  margin: 1px 0;
  height: 45px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 0;
  z-index: 1;
}
.sprite {
  background: url('/img/sprite@2x.png') no-repeat top left;
  background-size: 64px 730px;
  width: 64px;
  height: 64px;
  margin: 7px 0;
  line-height: normal;
  display: inline;
  float: left;
}
.sprite-btn {
  height: 80px;
  line-height: 80px;
  color: #000;
}
.sprite-row {
  display: none;
}
.sprite.elamyksia-loytamaan {
  background-position: 0 0;
}
.sprite.elamysruletti {
  background-position: 0 -74px;
}
.sprite.harjoita-mielen-tasapainoa {
  background-position: 0 -148px;
}
.sprite.ilmaise-itseasi {
  background-position: 0 -222px;
}
.sprite.innostu-aivotreenista {
  background-position: 0 -296px;
}
.sprite.kaaos-kuriin {
  background-position: 0 -370px;
}
.sprite.kokemuksia-ja-vinkkeja {
  background-position: 0 -444px;
}
.sprite.koti-kuntoon {
  background-position: 0 -518px;
}
.sprite.liiketta-niveliin {
  background-position: 0 -592px;
}
.sprite.ravinnolla-terveytta {
  background-position: 0 -666px;
}
/* iPad in portrait and up */
@media only screen and (min-device-width: 768px) {
  .padding {
    display: block;
    overflow: auto;
  }
  .padding h3 {
    margin: 0 1%;
  }
  .padding .button-wrapper {
    display: block;
    overflow: auto;
    float: left;
    width: 31%;
    margin: 0 1%;
  }
  .padding .button-block {
    height: 150px;
    font-size: 150%;
  }
  .padding .roulette-btn {
    width: 97%;
    margin: 0 1%;
  }
  .padding .sprite-row {
    display: inline-block;
    height: 80px;
    line-height: 80px;
  }
  .padding .sprite-row h3 {
    line-height: inherit;
  }
  .padding .sprite-btn i {
    margin: 42px 0;
  }
  .padding .sprite-btn span {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    line-height: 1.5em;
    height: 150px;
  }
}
