<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Impulssi
    </super-navbar-title>
  </super-navbar>

  <div ng-hide="showRoulette" class="padding">
    <h3>Valitse aiheista mieluistaa tekemistä:</h3>

    <super-navigate class="button-wrapper"
    location="teekki#category?id={{ category.id }}"
    ng-repeat="category in categories">
      <button class="button button-block btn-mss-blue">
        {{ category.name }}
      </button>
    </super-navigate>

    <button class="button button-block btn-mss-gold" ng-click="enableRoulette()">
      Elämysruletti
    </button>
  </div>

</div>
